
@media (max-width: 600px) {
    .grid-item {
      width: 100%;
    }
}
  
  @media (max-width: 560px) {
    .container {
      padding: 0 2rem;
    }
  
    .title {
      font-size: 1.8rem;
    }
  
    .text {
      font-size: 0.92rem;
    }
  
    .overlay.overlay-lg .shape {
      height: 28px;
    }
  
    .overlay.overlay-lg .shape.wave {
      height: initial;
      width: 52px;
    }
  
    .overlay.overlay-lg .shape.xshape {
      height: 22px;
    }
  
    .records .container {
      grid-template-columns: 1fr;
    }
  
    .records .half-circle {
      top: 50%;
      left: 50px;
    }
  
    .records .wave2 {
      bottom: 50%;
      right: 20px;
      left: initial;
    }
  
    .records .xshape {
      right: 70px;
    }
  
    .records .square2 {
      bottom: 90px;
      right: 40px;
    }
  
    .testi-content {
      margin-top: 1rem;
    }
  
    .review {
      padding: 1.5rem 1rem;
    }
  
    .review-text {
      font-size: 0.9rem;
    }
  
    .review-nav {
      bottom: 1.5rem;
      font-size: 1.3rem;
    }
  
    .swiper-button-next {
      right: 1.3rem;
    }
  
    .swiper-button-prev {
      right: 3rem;
    }
  
    .contact {
      padding: 8rem 0 5rem 0;
    }
  
    .contact-info {
      display: none;
    }
  
    .contact-box {
      padding: 2.3rem 2rem;
      border-radius: 30px;
    }
  
    .contact:before {
      background-size: 200%;
    }
  
    .contact-form .row {
      grid-column-gap: 0.3rem;
    }
  
    .contact-input {
      font-size: 0.8rem;
      padding: 0.8rem 1.4rem;
      margin: 0.25rem 0;
    }
}
  